.App {
  text-align: center;
  background-color: rgba(var(--b3f,250,250,250),1);
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  height: 5vh;
  border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
  padding: 1.5rem;
  margin-bottom: 1rem;
  text-decoration: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.posts-and-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: 
    linear-gradient(to right, 
      rgba(0,0,0,0) 0%, 
      rgba(0,0,0,.2) 25%,
      rgba(255,255,255,.7) 30%, 
      rgba(255,255,255,.7) 50%, 
      rgba(255,255,255,.7) 70%, 
      rgba(0,0,0,.2) 75%, 
      rgba(0,0,0,0));
}

nav {
  background-color: white;
  height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid lightgray;
}
nav div:first-child {
  margin-left: 5%;
}
nav div:last-child {
  width: 20%;
}
nav a {
  margin-right: 5%;
  text-decoration: none;
}